{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    {% if user.is_staff %}
        <div class="container">
            <div class="row">
                <form method="post" class="form-group form-inline" action="{% url 'generate_qr' %}">
                    {% csrf_token %}
                    <div class="form-group col-4">
                        <label>Select a course</label>
                        {{ form.courses }}
                    </div>
                    <div class="form-group col-4">
                        <label>Select a Year</label>
                        {{ form.year }}
                    </div>
                    <div class="form-group col-4">
                        <label>Select a Section</label>
                        {{ form.section }}
                    </div>
                    <div class="form-group">
                        <button id="generate_qr" type="submit" class="btn btn-outline-success">Generate QR</button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <h2>Welcome Student</h2>
        <p>Here's your QRCode for the attendance</p>
        {% for datum in userprofile_data %}
            <img src="http://localhost{% static 'img/qr/' %}{{ datum.qrcode }}.jpg" alt="qrcode for attendance">
        {% endfor %}
    {% endif %}

{% endblock content %}
