{% extends "base.html" %}

{% block message %}
{% if message %}
    <div class="alert alert-danger" role="alert">
        <h5 class="text-center">{{message}}</h5>
    </div>
{% endif %}
{% endblock message %}

{% block content %}

    <h1 class="jumbotron h1 text-center">Login for Attendance</h1>
    <form method="POST" class="form-group">
        {%csrf_token%}
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            {{form.username}}
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            {{form.password}}
        </div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>

{% endblock content %}
