{% extends 'base.html' %}
{% load static %}

{% block content%}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <img src="{% static 'img/header.jpg' %}" alt="attendance" class="img-fluid" height="70%">
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <h1 class="h1 text-center">QR Attendance</h1>
            <div class="col">
                <p class="my-5">Tired of having to follow the same tedious attendance routine, cluttered and unorganized records,
                    having
                    to look through pages over pages of old musty registers?</p>
                <strong>No more!! Meet the QR Attendance Solution</strong>
                <h3>Attendance</h3>
                <h3 id="change"></h3>
            </div>
        </div>
    </div>
</div>

<!-- TYPED JS -->
<script type="text/javascript">
    var typed = new Typed('#change', {
        strings: ["Simplified", "Swift", "unparalleled", "industry first", "elegant", "time saving"],
        typeSpeed: 30,
        loop: true,
    });
</script>

{% endblock %}